#
# Minimal static busybox for B-Free guest smoke (musl, Linux x86_64 ABI).
#
CONFIG_STATIC=y
CONFIG_CROSS_COMPILER_PREFIX=""
CONFIG_SYSROOT=""
CONFIG_EXTRA_CFLAGS="-Os"
CONFIG_EXTRA_LDFLAGS="-static"
CONFIG_FEATURE_SH_IS_NONE=y
# CONFIG_FEATURE_SH_IS_ASH is not set
# CONFIG_FEATURE_SH_IS_HUSH is not set
CONFIG_ASH=n
CONFIG_HUSH=n
CONFIG_SH=n
CONFIG_ECHO=y
CONFIG_CAT=y
CONFIG_LS=y
CONFIG_UNAME=y
CONFIG_TRUE=y
CONFIG_FALSE=y
CONFIG_PWD=y
CONFIG_WC=y
CONFIG_HEAD=y
CONFIG_TAIL=y
CONFIG_TEST=y
CONFIG_TEST1=y
CONFIG_TEST2=y
CONFIG_FEATURE_TEST_64=y
CONFIG_SLEEP=y
CONFIG_PRINTF=y
CONFIG_ECHO=y
